.card{
    border-radius: 15px;
}

.card-header{
    border-radius: 15px 15px 0 0 !important;
}

.table thead th{
    background: #dc3545 !important;   /* Red */
    color: #fff !important;           /* White text */
    text-align: center;
    vertical-align: middle;
}

.table td{
    vertical-align: middle;
}

.rounded-circle{
    object-fit: cover;
}