/* ==========================================================
   ADMIN COMPONENT STYLING
========================================================== */

/* ================= CARD ================= */

.admin-main .card {
  border: none;
  border-radius: 15px;
}


/* ================= CARD HEADER ================= */

.admin-main .card-header {
  border-radius: 15px 15px 0 0 !important;
}


/* ================= FORM ================= */

.admin-main .form-control {
  border-radius: 10px;

  &:focus {
    border-color: #86b7fe;

    box-shadow:
      0 0 0 0.2rem rgba(13, 110, 253, 0.12);
  }
}


/* ================= BUTTON ================= */

.admin-main .btn {
  border-radius: 10px;
}