.card{
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

.table th{
    width:220px;
    background:#f8f9fa;
}

.table td,
.table th{
    vertical-align:middle;
}

.rounded-circle{
    object-fit:cover;
}