.attendance-card{
    border-radius:15px;
    transition:.3s;
}

.attendance-card:hover{
    transform:translateY(-6px);
}

.table{
    border-radius:12px;
    overflow:hidden;
}

.table tbody tr:hover{
    background:#f8fbff;
}

.card{
    border-radius:15px;
}

.card-header{
    border-radius:15px 15px 0 0 !important;
}

.btn{
    border-radius:10px;
}

.badge{
    font-size:.85rem;
    padding:8px 14px;
}